<app-form-header [next]="form.valid ? 'active' : 'disable'" previous="hide">
  <h1>Request access to Runner</h1>
  <p>Please fill out all of the fields</p>
</app-form-header>
<form [formGroup]="form">
  <div class="row">
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName">
      </mat-form-field>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Territory</mat-label>
        <input matInput formControlName="territory">
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Job Title</mat-label>
        <input matInput formControlName="jobTitle">
      </mat-form-field>
    </div>
  </div>

  <div class="row" tabindex="5">
    <section>
      <mat-label>Your Company:</mat-label>
      <mat-radio-group formControlName="company">
        <mat-radio-button value="sony">Sony Pictures Entertainment</mat-radio-button>
        <mat-radio-button value="other">Other</mat-radio-button>
      </mat-radio-group>
    </section>
  </div>

  <div class="row" *ngIf="currentCompany === 'other'">
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Company Name</mat-label>
        <input matInput formControlName="companyName">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Contact person at Sony</mat-label>
        <input matInput formControlName="sonyContact">
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Reporting Group</mat-label>
        <mat-select formControlName="reportingGroup">
          <mat-option *ngFor="let group of reportingGroups$ | async" [value]="group">
            {{group}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="currentCompany === 'sony'">
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Department</mat-label>
        <input matInput formControlName="department">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Reporting Group</mat-label>
        <mat-select formControlName="reportingGroup">
          <mat-option *ngFor="let group of reportingGroups$ | async" [value]="group">
            {{group}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Division</mat-label>
        <input  matInput formControlName="division">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Supervisor's Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
  </div>

  <div class="row" *ngIf="currentCompany && currentCompany > ''">
    <div class="column">
      <mat-form-field appearance="outline">
        <mat-label>Business Justification for Runner Access</mat-label>
        <textarea matInput formControlName="businessJustification" rows="2"
                  placeholder="EX. I need access to trailers for social media marketing purposes"></textarea>
      </mat-form-field>
    </div>
  </div>
</form>

