.form-header{
  display: flex;
  background: #f5f5f5;
  padding: 2.5rem;
  ::ng-deep h1{
    margin: 0;
  }
}

.form-header-content{
  flex: 1;
}

.form-header-actions{
  ::ng-deep button{
    margin-left: 4px;
  }
}
