<app-form-stepper>
  <app-step-one
    formId="registration"
    label="Registration"
    title="Please create an account"
    description="Please fill out all fields."
    appFormStepperStep>
    one
  </app-step-one>
  <app-step-two
    formId="preferences"
    label="Preferences"
    title="Tell us more about yourself"
    description="Choose as many as you like."
    appFormStepperStep>
    two
  </app-step-two>
  <app-step-three
    label="Confirmation"
    appFormStepperStep>
    this is the confirmation page
  </app-step-three>
</app-form-stepper>
